@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', sans-serif;
    color: #ffffff;
    background-color: #363638;
}

.header {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.subtitulo {
    font-size: 1.5rem;
}

.content {
    margin: 5%;
    width: 90%;
    max-width: 100%;
}

.upload {
    display: flex;
    flex-direction: column;
}

.title {
    margin-bottom: 1.5vh;
    margin-top: 3vh;
}

.btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vh;
    width: 100%;
    margin: 1vh 0;
}

.btns button {
    width: 20%;
    height: 5vh;
    border-radius: 3vh;
    border: none;
    background-color: #ffe150;
    color: #000000;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.button {
    width: 20%;
    height: 5vh;
    border-radius: 3vh;
    border: none;
    background-color: #ffe150;
    color: #000000;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.login-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.login-input {
    margin: 2vh;
    width: 50%;
    height: 5vh;
    border-radius: 1vh;
    background-color: #000000;
    color: #ffffff;
    font-size: 1rem;
    border: 0.2vh solid #d3d3d3;
    padding-left: 2%;
}

.login-input::placeholder {
    color: #d3d3d3;
}

.login-cont form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login-cont form button {
    width: 20%;
    height: 5vh;
    border-radius: 3vh;
    border: none;
    background-color: #ffe150;
    color: #000000;
    font-size: 1rem;
    margin-top: 2vh;
    font-weight: 700;
    cursor: pointer;
}

.login-title {
    font-size: 2rem;
}

.drag-drop-area {
    width: 100%;
    border: 0.3vh dashed #d3d3d3;
    border-radius: 2%;
    padding: 10vh 5%;
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    margin-bottom: 3vh;
}

.drag-drop-area p {
    background-color: transparent;
}

.drag-drop-area.dragover {
    background-color: #000000;
    border-color: #ffe150;
}

nav.menu a {
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
}

.error-msg {
    color: #ff6b6b;
    font-size: 0.9rem;
    margin-top: 1vh;
    text-align: center;
    background-color: transparent;
}

.aviso {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.aviso h1 {
    font-size: 5rem;
    text-align: center;
}