* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

.subtitulo {
    font-size: 1.5rem;
}

.content {
    margin: 5%;
    width: 90%;
    max-width: 100%;
}

.upload {
    display: flex;
    flex-direction: column;
}

.title {
    margin: 3vh;
}